html {
  --tray-green: #0dbf73;
}
.doneform-container {
  color: var(--tray-green);
  padding: 2em;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doneform-container .tickbox {
  height: 150px;
  width: 150px;
  margin: 1em;
}
