.privacyform-container form {
  display: flex;
  flex-direction: column;
}

.privacyform-container .checkbox {
  display: flex;
  flex-direction: row;
  font-family: var(--tray-font);
  align-items: center;
  margin: 1em 0;
}

.privacyform-container .checkbox-text {
  color: var(--tray-blue-text);
  font-weight: 500;
  margin-left: 0.7em;
  width: 80%;
  text-align: center;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  border: 2.5px solid var(--tray-blue);
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: var(--tray-blue);
}
