.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.signup-text {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
  color: var(--tray-blue-text);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 450px;
  height: 400px;
  padding: 2em;
  border: 2px solid var(--tray-white);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 6px 0 rgba(16, 16, 16, 0.25);
}
