.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.formpage-selector {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
}

.formpage-selector .tab {
  border-bottom: 2px solid var(--tray-grey-light);
  border-right: 2px solid var(--tray-grey-light);
  cursor: pointer;
  width: 100%;
  padding: 0.3em;
  text-align: center;
}

.formpage-selector .tab:last-child {
  border-right: none;
}

.selected {
  background-color: var(--tray-blue);
  border: 2px solid var(--tray-blue);
  border-radius: var(--border-radius);
  color: var(--tray-white);
}

.form-container {
  width: 80%;
  padding: 2em;
  border: 2px solid var(--tray-white);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 6px 0 rgba(16, 16, 16, 0.25);
}
