.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.form-container {
  width: 80%;
  padding: 2em;
  border: 2px solid var(--tray-white);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 6px 0 rgba(16, 16, 16, 0.25);
}
