:root {
  --tray-black: #000;
  --tray-white: #fff;
  --tray-blue: #0d66e5;
  --tray-blue-light: #5ca1f7;
  --tray-blue-hover: #143861;
  --tray-blue-selected: #062e66;
  --tray-blue-text: #1a1a3b;
  --tray-grey: #878796;
  --tray-grey-light: #b8b8c7;
  --tray-grey-dark: #5c5c70;
  --tray-error: red;
  --tray-box-shadow: 0 3px 6px 0 rbga(16, 16, 16, 0.25);

  --tray-font: 'Akkurat', 'Helvetica', sans-serif;
  --font-size-heading-one: 42px;
  --font-size-heading-two: 32px;
  --font-size-heading-three: 22px;

  --border-radius: 4px;
  --short-transition-duration: 200ms;
  --long-transition-duration: 400ms;
}
