body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --tray-black: #000;
  --tray-white: #fff;
  --tray-blue: #0d66e5;
  --tray-blue-light: #5ca1f7;
  --tray-blue-dark: #0a0d36;
  --tray-blue-hover: #143861;
  --tray-blue-selected: #062e66;
  --tray-blue-text: #1a1a3b;
  --tray-grey: #878796;
  --tray-grey-light: #b8b8c7;
  --tray-grey-dark: #5c5c70;
  --tray-green: #0dbf73;
  --tray-error: red;

  --tray-font: 'Akkurat', 'Helvetica', sans-serif;
  --tray-box-shadow: 0 3px 6px 0 rbga(16, 16, 16, 0.25);
  --border-radius: 4px;
}
